# .replit
language = "python3"
entrypoint = "app_splitbill.py"

run = ["python3", "-m", "gunicorn", "app_splitbill:app", "--bind", "0.0.0.0:$PORT"]
modules = ["postgresql-16"]

# 移除或註解掉這一行：
# modules = ["postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python3", "-m", "gunicorn", "app_splitbill:app", "--bind", "0.0.0.0:$PORT"]
deploymentTarget = "cloudrun"
